@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #000000fa 74%, #9aff00); 
    color: white;
}

div.Anima{
    position: absolute;
    left: -10px;
    width: 3px;
    height: 3px;
    opacity: 0.8;
    background-color: rgb(127 255 90 / 81%);
    animation: efeitoPixel 5s linear infinite;
    z-index: -1;
}

@keyframes efeitoPixel {
    0%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateX(100vw);
    }
}


menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-align: center;

    width: 100vw;
    height: 50px;

    background-color: black;
    border: 2px solid greenyellow;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
} 


ul > li.list_{
    position: relative;
    display: inline;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.328);
    border: 1px solid white;
    border-radius: 8px;
    transition: transform 0.2s linear;
}

li.list_::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 12px;
    opacity: 1;
    background-color: #000000fa;
    z-index: -1;
}

li.list_:hover{
    transform: translateY(-10px);
    transition: transform 0.2s linear;
    border: 1px solid greenyellow;
}

li.list_:active{
    animation: test 0.2s linear ;
}

@keyframes test {
    from{
        border-color: white;
    }
    to{
        border-color: gray;
    }
}

ul > li > a{
    color: white;
}

ul > li > a:hover{
    color: #73ff6e;
    text-shadow: 0px 0px 10px white;
}

div.block_search{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.block_search.On_Animation{
    backdrop-filter: blur(1px);
    
    animation: Aparecer_search 0.6s linear;
}

@keyframes Aparecer_search {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.block_search > div.item_search{
    position: relative;
    width: 90%;
    height: 50px;
    top: -14%;
}

.item_search > input.isearch{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    font: normal bold 17px Verdana;
    color: white;
    border: 2px solid #ffffff7a;
    border-radius: 10px 0px;
    background-color: transparent;
    outline: none;
}

.isearch{
    display: none;
}

/* Ãrea para o profile*/

div.container_profile{
    
    position: absolute;
    top: 50%;
    left: -70%;
    transform: translate(-50%,-60%);
    transition: all 0.7s ease-in;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 450px;
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}

.container_profile.Ativar_profile{
    left: 50%;
}

.container_profile > div.itens_profile{
    width: 380px;
    height: 400px;
    border-radius: 5px;

}

.itens_profile > div.alinhar_img{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 60%;
}

.itens_profile img{
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.itens_profile > input{

    background-color: white;
}

.itens_profile > .nomes{
    padding: 15px;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-bottom: 5px;
}

.itens_profile > #Inome{
    border-radius: 10px 10px 0px 10px;

}

.itens_profile > #Ilast{
    border-radius: 10px 0px 10px 10px;
}
