@charset "UTF-8";
/* Telas Maiores */
@media (min-width: 1024px) {
    body{
        overflow-y: auto;
        background: linear-gradient(125deg, #000000fa 74%, #9aff00);
    }

    div#Grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5vh 90vh 5vh;
    }

    menu#Menu_container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    }

    ul {
        position: relative;
        left: 54px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        text-align: center;
        width: 300px;
        height: 50px;
        background-color: black;
        border: 2px solid greenyellow;
        /* border-right: none; */
        /* border-bottom: none; */
        border-left: none;
        border-radius: 0px 10px 10px 0px;
        z-index: 1;
    }
    div.burger{
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        left: -50px;
        top: -1px;
        text-align: center;
        
        width: 48px;
        height: 100%;
        border: 1px solid greenyellow;
        border-radius: 10px 0px 0px 10px;
        color: white;
        }
    .burger:hover{
        color: #73ff6e;
        text-shadow: 0px 0px 10px white;
    }
    
span.on_click_ani{
    position: absolute;
    top: 11px;
    transform: rotateZ(180deg);
}
}
